body {
    background-color: lightgray;
    margin: 0;
}

.gray-header-container {
    display: flex;
    justify-content: center;
}

.gray-header {
    background-color: gray;
    height: 100px;
    width: 100%;
}

.white-space-container {
    display: flex;
    justify-content: center;
}

.white-space {
    background-color: white;
    height: 800px;
    width: 80%;
}

.footer-container {
    display: flex;
    justify-content: center;
}

footer {
    background: black;
    height: 100px;
    width: 80%;
}
